@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.progress-gradient {
  background: linear-gradient(to right, #970606, #970606, #970606);
}

.top-glow {
  box-shadow: 0 -26px 20px rgba(208, 6, 13, 0.3);
}

/* Define the keyframes for the blinking animation */
@keyframes blink {
  0% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Apply the animation to the dot class */
.dot {
  width: 6px;
  height: 6px;
  background-color: rgb(220, 17, 17);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  animation: blink 1s infinite;
}

.circle-outer {
  background: linear-gradient(to bottom, #090000, #090000);
  display: center;
  align-items: bottom;
  justify-content: center;
  width: 50vw;
  height: 50vw;
  max-width: 400px;
  max-height: 400px;
}

.circle-inner {
  background: radial-gradient(circle, #000000, #050505);
  display: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(42, 15, 15, 0.2);
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}